<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 以上为固定写法 -->

<mapper namespace="com.RailManager.demo.mapper.UserMapper">

    <select id="getUserById" resultType="com.RailManager.demo.model.User">
        SELECT * FROM "User" WHERE "UserId" = #{id}
    </select>

    <select id="getUsers" resultType="com.RailManager.demo.model.User">
        SELECT * FROM "User"
    </select>

</mapper>